Training Workspace/Web Services/CitySearch/Service References/ServiceReference1/FriendService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FriendInfo">
        <s:complexType />
      </s:element>
      <s:element name="FriendInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FriendInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFriendList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prefixText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFriendListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFriendListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FriendInfoSoapIn">
    <wsdl:part name="parameters" element="tns:FriendInfo" />
  </wsdl:message>
  <wsdl:message name="FriendInfoSoapOut">
    <wsdl:part name="parameters" element="tns:FriendInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetFriendListSoapIn">
    <wsdl:part name="parameters" element="tns:GetFriendList" />
  </wsdl:message>
  <wsdl:message name="GetFriendListSoapOut">
    <wsdl:part name="parameters" element="tns:GetFriendListResponse" />
  </wsdl:message>
  <wsdl:portType name="FriendServiceSoap">
    <wsdl:operation name="FriendInfo">
      <wsdl:input message="tns:FriendInfoSoapIn" />
      <wsdl:output message="tns:FriendInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendList">
      <wsdl:input message="tns:GetFriendListSoapIn" />
      <wsdl:output message="tns:GetFriendListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FriendServiceSoap" type="tns:FriendServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FriendInfo">
      <soap:operation soapAction="http://tempuri.org/FriendInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendList">
      <soap:operation soapAction="http://tempuri.org/GetFriendList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FriendServiceSoap12" type="tns:FriendServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FriendInfo">
      <soap12:operation soapAction="http://tempuri.org/FriendInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendList">
      <soap12:operation soapAction="http://tempuri.org/GetFriendList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FriendService">
    <wsdl:port name="FriendServiceSoap" binding="tns:FriendServiceSoap">
      <soap:address location="http://localhost:1773/FriendService.asmx" />
    </wsdl:port>
    <wsdl:port name="FriendServiceSoap12" binding="tns:FriendServiceSoap12">
      <soap12:address location="http://localhost:1773/FriendService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>