Training Docs/Happytrip-BugSolving/HappyTrip/HappyTrip.Model.PaymentService/Service References/PaymentGateway/PaymentGatewayService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50985/PaymentGatewayService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PaymentGateway" />
  <xs:element name="VerifyCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PaymentGateway" minOccurs="0" name="CardInfo" nillable="true" type="q1:Card" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyCardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PaymentGateway" minOccurs="0" name="MakePaymentResult" nillable="true" type="q2:PaymentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>