Training Docs/Happytrip-BugSolving/HappyTrip/HappyTrip.Model.PaymentService/Service References/PaymentGateway/PaymentGatewayService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PaymentGateway" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PaymentGateway" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50985/PaymentGatewayService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cvv2No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryMonth" type="xs:int" />
      <xs:element minOccurs="0" name="ExpiryYear" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:complexType name="PaymentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:PaymentStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentInfo" nillable="true" type="tns:PaymentInfo" />
  <xs:simpleType name="PaymentStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InvalidCardHolder">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InsufficientFunds">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InvalidExpiryDate">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Declined">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentStatus" nillable="true" type="tns:PaymentStatus" />
  <xs:complexType name="ServiceExceptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="HelpURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="When" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceExceptionInfo" nillable="true" type="tns:ServiceExceptionInfo" />
</xs:schema>